<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>シナリオから台詞を取り出すやつ v04</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>

<style>
    textarea {
        height: 15em;
        width: 100%;
    }

    #app {
        width: 80%;
        margin: auto;
    }

</style>


<div id="app">
    <h1>シナリオから台詞を取り出すやつ v04</h1>
    <section>
        <h2>元データ(.ks)を入力</h2>
        <textarea id="input" v-model="input" placeholder="[台詞 name=foobar][f]&#13;&#10;Hello[l][r]&#13;&#10;World[l][r][np][cm]&#13;&#10;[fadeoutbgm time=2000]&#13;&#10;&#13;&#10;[台詞 name=foobar][f]&#13;&#10;Hello[l][r]&#13;&#10;World[l][r][np][cm]&#13;&#10;[fadeoutbgm time=2000]"></textarea>
    </section>
    <section>
        <h2>作業用データ (Googleスプレッドシートに貼り付け)</h2>
        <textarea id="output" v-model="output" readonly></textarea>
    </section>
    <section>
        <h2>翻訳文を入力 (Googleスプレッドシートから貼り付け)</h2>
        <textarea id="input2" v-model="input2"></textarea>
    </section>
    <section>
        <h2>翻訳済データ</h2>
        <textarea id="output2" v-model="output2" readonly></textarea>
    </section>
</div>

<script>
    const parseCSV = (csv) => {
        let tmp = [];
        csv = csv.replace(/("[^"]*")+/g, (match) => {
            tmp.push(match.slice(1, -1).replace(/""/g, '"')); return '[TMP]';
        });
        return csv.split("\n").map((row) => {
            return row.split(',').map((val) => val === '[TMP]' ? tmp.shift() : val)
        });
    };

    const app = new Vue({
        el: '#app',
        data: {
            input: '',
            input2: ''
        },
        computed: {
            output: function () {
                return this.input.match(/^$|^\[台詞 [\S\s]+?(?=^\[)|^(\[台詞|^\*label|[^[;@{}\t*]).*$/gm)?.map(paragraph => {
                    console.log(paragraph)
                    if (paragraph.match(/^\[台詞/)) {
                        return `"${paragraph.replace(/"/g, '""')}"\t"${paragraph.match(/^\[台詞.*$/m)[0].replace(/"/g, '""')}\n"`
                    } else {
                        return `"${paragraph.replace(/"/g, '""')}"`
                    }
                }).join('\n')
            },
            output2: function () {
                if (!this.input2) { return '' }

                let input2_cav = parseCSV(this.input2)

                let count = 0
                return this.input.replace(/^$|^\[台詞 [\S\s]+?(?=^\[)|^(\[台詞|^\*label|[^[;@{}\t*]).*$/gm, match => {
                    return input2_cav[count++]?.[0].replace(/\n$/, '') + '\n' || (match && "### 翻訳文が未入力です ###\n")
                })
            }
        }
    })
</script>
